:root {
  --bg: #121212;
  --accent: #8b5a2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg);
  color: #e0e0e0;
  line-height: 1.6;
  text-align: center;
}

header {
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  background-color: var(--bg);
  border-bottom: solid 1px #333;
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 1200px;
  box-sizing: border-box;
  gap: 15px;
  margin: 0 auto;
}

.nav-links a {
  font-size: 13.6px;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 1px;
  margin: 0 7px;
}
.nav-links a:hover {
  color: var(--accent);
}
.nav-links {
  transform: translateY(9px);
}

.brend-name span {
  color: var(--accent);
}
.brend-name {
  font-size: 28.8px;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (max-width: 785px) {
  .nav-links {
    transform: translateY(0px);
  }
  .header-container {
    flex-direction: column;
  }
  .nav-links a {
    margin: 1px;
  }
}

.dropdown-filters {
  width: 100%;
  margin: 30px 0;
}
.dropdown-containers {
  max-width: 1200px;
  margin: auto;
}
.dropdown-filters button {
  background-color: #1e1e1e;
  border: 1px solid #333;
  padding: 10px;
  color: #e0e0e0;
  transition: 0.3s;
  border-radius: 4px;
  width: 90px;
  margin: 5px 5px;
}
.dropdown-filters button:hover {
  border: 1px #8b5a2b solid;
}
.sort-right-container {
  float: right;
}
.sort-right-container span {
  color: #a0a0a0;
}
.sort-left-container {
  float: left;
}
@media (max-width: 445px) {
  .sort-right-container {
    float: none;
    display: inline-block;
    margin: auto;
  }
  .sort-left-container {
    float: none;
    display: inline-block;
    margin: auto;
  }
  .sort-right-container span {
    display: none;
  }
}

@media (max-width: 1247px) {
  .sort-right-container {
    margin: 0 12px 0 0;
  }
  .sort-left-container {
    margin: 0 0 0 12px;
  }
}
@media (max-width: 1230px) {
  .sort-right-container {
    margin: 0 17px 0 0;
  }
  .sort-left-container {
    margin: 0 0 0 17px;
  }
}
@media (max-width: 1220px) {
  .sort-right-container {
    margin: 0 26px 0 0;
  }
  .sort-left-container {
    margin: 0 0 0 26px;
  }
}
@media (max-width: 370px) {
  .sort-right-container {
    margin: 0;
  }
  .sort-left-container {
    margin: 0;
  }
}

.page-title p {
  font-weight: 300;
  color: #a0a0a0;
}
.page-title h2 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.page-title {
  border-bottom: 1px solid #333;
  padding: 96px 20px 48px 20px;
}

@media (max-width: 650px) {
  .page-title h2 {
    font-size: 37px;
  }
  .page-title p {
    font-size: 20;
  }
}
@media (max-width: 610px) {
  .page-title h2 {
    font-size: 33px;
  }
  .page-title p {
    font-size: 20;
  }
}

@media (max-width: 445px) {
  .page-title h2 {
    font-size: 31px;
  }
  .page-title {
    padding: 0 20px 48px 20px;
  }
}

.copyright {
  border-top: 1px #333 solid;
  margin: 0 30px 0 30px;
  padding: 20px;
  color: #a0a0a0;
  font-size: 14px;
}

