:root {
  --bg: #121212;
  --accent: #8b5a2b;
  --light: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--light);
  line-height: 1.6;
  text-align: center;
}

header {
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  background-color: var(--bg);
  border-bottom: solid 1px #333;
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 1200px;
  box-sizing: border-box;
  gap: 15px;
  margin: 0 auto;
}

.nav-links a {
  font-size: 13.6px;
  color: var(--light);
  font-weight: 500;
  transition: 0.3s;
  letter-spacing: 1px;
  margin: 0 7px;
}
.nav-links a:hover {
  color: var(--accent);
}
.nav-links {
  transform: translateY(9px);
}

.brend-name span {
  color: var(--accent);
}
.brend-name {
  font-size: 28.8px;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (max-width: 785px) {
  .nav-links {
    transform: translateY(0px);
  }
  .header-container {
    flex-direction: column;
  }
  .nav-links a {
    margin: 1px;
  }
}

.origin-list {
  position: absolute;
  top: 44px;
  left: 5px;
  border: #333 solid 1px;
  text-align: left;
  width: 150px;
  background: #1e1e1e;
  border-radius: 4px;
  display: none;
}
.type-list {
  position: absolute;
  top: 44px;
  left: 120px;
  border: #333 solid 1px;
  text-align: left;
  width: 150px;
  background: #1e1e1e;
  border-radius: 4px;
  display: none;
}

.type-list button {
  border: none;
  background: #1e1e1e;
  color: var(--light);
  transition: 0.3s;
  width: 100%;
  text-align: left;
  padding: 12.8px 16px;
  font-size: 15px;
}
.origin-list button {
  border: none;
  background: #1e1e1e;
  color: var(--light);
  transition: 0.3s;
  width: 100%;
  text-align: left;
  padding: 12.8px 16px;
  font-size: 15px;
}

.origin-list button:hover {
  border: none;
  background: #121212;
  color: #8b5a2b;
}
.type-list button:hover {
  border: none;
  background: #121212;
  color: #8b5a2b;
}

.origin:hover + .origin-list {
  display: block;
}
.origin-list:hover {
  display: block;
}
.type:hover + .type-list {
  display: block;
}
.type-list:hover {
  display: block;
}

.dropdown-filters {
  width: 100%;
  margin: 30px 0;
}
.dropdown-containers {
  max-width: 1200px;
  margin: auto;
}
.origin,
.type,
.sort-by {
  background-color: #1e1e1e;
  border: 1px solid #333;
  padding: 10px;
  color: var(--light);
  transition: 0.3s;
  border-radius: 4px;
  width: 100px;
  margin: 5px 5px;
}
.origin:hover,
.type:hover,
.sort-by:hover {
  border: 1px #8b5a2b solid;
}
.sort-right-container {
  float: right;
}
.sort-right-container span {
  color: #a0a0a0;
  font-size: 14.4px;
}
.sort-left-container {
  float: left;
  position: relative;
}
@media (max-width: 445px) {
  .sort-right-container {
    float: none;
    display: inline-block;
    margin: auto;
  }
  .sort-left-container {
    float: none;
    display: inline-block;
    margin: auto;
  }
  .sort-right-container span {
    display: none;
  }
}

@media (max-width: 1247px) {
  .sort-right-container {
    margin: 0 12px 0 0;
  }
  .sort-left-container {
    margin: 0 0 0 12px;
  }
}
@media (max-width: 1230px) {
  .sort-right-container {
    margin: 0 17px 0 0;
  }
  .sort-left-container {
    margin: 0 0 0 17px;
  }
}
@media (max-width: 1220px) {
  .sort-right-container {
    margin: 0 26px 0 0;
  }
  .sort-left-container {
    margin: 0 0 0 26px;
  }
}
@media (max-width: 390px) {
  .sort-right-container {
    margin: 0;
  }
  .sort-left-container {
    margin: 0;
  }
}

.page-title p {
  font-weight: 300;
  color: #a0a0a0;
}
.page-title h2 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.page-title {
  border-bottom: 1px solid #333;
  padding: 96px 20px 48px 20px;
}

@media (max-width: 650px) {
  .page-title h2 {
    font-size: 37px;
  }
  .page-title p {
    font-size: 20;
  }
}
@media (max-width: 610px) {
  .page-title h2 {
    font-size: 33px;
  }
  .page-title p {
    font-size: 20;
  }
}

@media (max-width: 445px) {
  .page-title h2 {
    font-size: 31px;
  }
  .page-title {
    padding: 0 20px 48px 20px;
  }
}

.copyright {
  border-top: 1px #333 solid;
  padding: 20px 50px;
  color: #a0a0a0;
  font-size: 14px;
  background: #0a0a0a;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li a {
  font-size: 14.4px;
  color: #a0a0a0;
}
li {
  margin: 10px 0;
}
footer {
  text-align: center;
  background: #0a0a0a;
  color: #a0a0a0;
  padding: 30px;
}
footer h2 {
  color: var(--light);
  font-size: 17.6px;
  margin: 10px 0;
  letter-spacing: 1px;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
.footer-about {
  max-width: 300px;
  text-align: left;
}
.footer-about a {
  color: var(--light);
  font-size: 19.2px;
}
.footer-social-links {
  margin: 10px 0;
}
.footer-social-links a {
  margin: auto;
  width: 100%;
}
.footer-column {
  text-align: left;
  width: 100%;
  max-width: 300px;
}
.footer-column a:hover {
  transition: 0.3s;
  color: #8b5a2b;
}
@media (max-width: 1090) {
  .footer-container {
    text-align: left;
    margin: 0;
  }
}
@media (max-width: 839px) {
  .contact {
    border-top: 1px solid #333;
  }
}
@media (max-width: 639px) {
  .information {
    border-top: 1px solid #333;
  }
}
@media (max-width: 439px) {
  .shop {
    border-top: 1px solid #333;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.product-cart {
  width: 100%;
  max-width: 262px;
  background: #1e1e1e;
  border: 1px #333 solid;
  border-radius: 8px;
  text-align: left;
}
.product-cart img {
  max-width: 262px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  border-bottom: 1px #333 solid;
}
.product-info {
  padding: 20px;
}
.product-info h2 {
  font-weight: 500;
  font-size: 16px;
}
.product-info p {
  font-size: 14,4px;
  color: #a0a0a0;
}
.product-footer {
  padding: 0 20px 30px 20px;
  color: #8b5a2b;
  font-weight: 700;
  font-size: 17.6px;
}
.product-footer button {
  border: 1px #8b5a2b solid;
  background: none;
  color: #8b5a2b;
  border-radius: 4px;
  padding: 8px;
  width: 100px;
  float: right;
  transition: 0.3s;
}

.product-footer button:hover {
  background: #8b5a2b;
  color: var(--light);
}
